body{
    margin: 0;
    padding:0;
    font-family: 'Lato', sans-serif;
}

.box{
    height: 100vh;
    width: 100%;
    background-color: aqua;
}
.landing{
    background-image: url("image/desktop.jpg");
    background-size: cover;
    background-position: center;
}