body{
    margin: 0;
    padding:0;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 1.4;
}
.bg-dark{ color: white;background-color: #111111;}
.txt-align-center{text-align: center;}
.text-grey{color: grey;}
/*.d-flex{display: flex;}
.flex-col{flex-direction: column;}
.jfy-around{justify-content: space-around;}
.jfy-center{justify-content: center;}
.item-center{align-items: center;}*/
.btn-primary{background-color: #21AFFF;}
.bold{ font-weight: 400;}
.mt-2{margin-top: 20px;}

.box{
    height: 100vh;
}
.content{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
}

.logo{
    display: none;
}
.landing{
    background: url("image/desktop.png");
    background-size: cover;
    background-position: center;
}
.text-center{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.cont-prese{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.pos-bottom{
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}
/*////////////////Presentation///////////////*/
.present{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.text-present{
    width: 45%;
    margin-bottom: 20px;
}
.ill-social{
    width: 400px;
    height: 270px;
}
.small{
    width: 400px;
    font-size: 14px;
    color: rgb(199, 199, 199);
    margin: 0 auto 10px auto;
}
.btn{
    height: 50px;
    width: max-content;
    font-size: 18px;
    color: white;
    padding: 0 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.cont-pres{
    justify-content: space-around;
}
/*////////////////problématique////////////////////*/
.prob{
    background-image: url("image/macintouch.jpg");
    background-size: cover;
    background-position: left;
}
.cont-prob{
    flex-direction: column;
}
.text-left{
    width: 60%;
    line-height: 1.5;
}
/*////////////////offer////////////////////*/
.offer .graphe, .offer .connexion{
    width: 355px;
    height: 214px;
    margin-left: 50px;
}
.offer{
    display: flex;
    flex-direction:  column;
}
.offer .text-white{
    width: 60%;
    text-align: center;
    margin: 0 auto;
}
.cont-offer{
    justify-content: space-around;
}

.offer .connexion{
    margin: 0 auto;
}
.splite{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.first{
    width: 100%;
}
.last{
    flex-direction: column-reverse;
}
/*//////////////Contact/////////////////*/
.cont-contact{
    flex-direction: column;
    justify-content: center;
}

.sp-text{
    width: 900px;
    margin: 0 auto;
    text-align: center;
    text-decoration: underline;
    font-size: 24px;
    padding-top: 10%;
}
form{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
form input{
    margin-bottom: 25px;
    width: 500px;
    height: 50px;
    font-size: 18px;
    color: white;
    padding:0 20px;
    border: none;
    background-color: rgb(158, 158, 158);
    border-radius: 30px;
    margin-right: 15px;
}
form input::placeholder{
    color: grey;
}
/*//////////////////////Footer////////////////////////*/
.footer{
    display: flex;
    justify-content: center;
    background-color: #c4c4c4c4;
    height: max-content;
    width: 100%;
}
.copy-right{
    margin:0 auto;
}


@media(max-width: 750px){
    body{font-size: 16px;}
    .container{width: 100%;}
    .box{ 
        height: max-content;
    }
    .cont-prese{
        min-height: auto;
    }
    /*landing*/
    .logo{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .logo img{
        width: 150px;
    }
    .landing{
        background-image: unset;
    }
    /*présentation*/
    .title{
        width: 90%;
        text-align: center;
    }
    .text-present{
        width: 100%;
        margin: 0;
        text-align: left;
    }
    .cont-pres{
        flex-direction: column;
        justify-content: center;
    }
    .pos-bottom{
        width: 400px;
        margin:0 auto;
        font-size: 18px;
        position: unset;
        margin-bottom: 50px;
    }
    .small{
        width: 100%;
        height:max-content;
    }
    .btn-join{margin: 10px 0 30px 0;}
    /*Probleme*/
    .prob{
        background-image: unset;

    }
    .text-left{
        width: 100%;
    }
    /*offer*/
    .cont-offer{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

}

@media(max-width: 1150px){
    .box{
        height: max-content;
        padding: 25px 0;
        width: 100%;
    }
    .content{ width: 90%;}
    .pos-bottom{ 
        width: 90%; 
        text-align: center;
    }

    /*Presente*/
    .splite img, .splite .graphe, .splite .connexion{
        width: 250px;
        margin: 0 auto;
    }
    .present{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    /*Offer*/
    .offer .graphe{
        width: 305px;
        height: 164px;
    }
    .offer .connexion{
        width: 435px;
        height: 176px;
    }
    .splite{
        flex-direction: column;
        justify-content: center;
    }
    .last{
        flex-direction: column-reverse;
    }
     /*contact*/
     form{ margin-bottom: 100px}
     .sp-text, form, form input {width: 100%;}
    
}