body{
    margin: 0;
    padding:0;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 1.4;
}

.box{
    height: 100vh;
    width: 100%;
}
.content{
    width: 1100px;
    margin: 0 auto;
}

.logo{
    display: none;
}
.landing{
    background: url("image/desktop.png");
    background-size: cover;
    background-position: center;
}
.text-center{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.pos-bottom{
    position: relative;
    top: 90vh;
}
/*////////////////Presentation///////////////*/
.present{
    height: max-content;
}
.text-present{
    width: 60%;
    margin-bottom: 20px;
}
.ill-social{
    width: 400px;
    height: 270px;
}
.small{
    width: 400px;
    font-size: 14px;
    color: rgb(199, 199, 199);
    margin: 0 auto 10px auto;
}
.btn{
    height: 50px;
    width: max-content;
    font-size: 18px;
    color: white;
    padding: 0 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
/*////////////////problématique////////////////////*/
.prob{
    background-image: url("image/macintouch.jpg");
    background-size: cover;
    background-position: left;
}
.text-left{
    width: 60%;
    line-height: 1.5;
}
/*////////////////offer////////////////////*/
.offer .graphe{
    width: 405px;
    height: 264px;
}
.offer .connexion{
    width: 535px;
    height: 276px;
}
/*//////////////Contact/////////////////*/
.sp-text{
    width: 900px;
    margin: 0 auto;
    text-align: center;
    text-decoration: underline;
    font-size: 24px;
    padding-top: 10%;
}
form{
    margin-top: 50px;
}
form input{
    margin-bottom: 25px;
    width: 500px;
    height: 50px;
    font-size: 18px;
    color: white;
    padding:0 20px;
    border: none;
    background-color: gray;
    border-radius: 30px;
}
form input::placeholder{
    color: white;
}
/*//////////////////////Footer////////////////////////*/
.footer{
    background-color: #c4c4c4c4;
    height: max-content;
    width: 100%;
}
.copy-right{
    margin:0 auto;
}

.bg-dark{ color: white;background-color: #111111;}
.txt-align-center{text-align: center;}
.text-grey{color: grey;}
.d-flex{display: flex;}
.flex-col{flex-direction: column;}
.jfy-around{justify-content: space-around;}
.jfy-center{justify-content: center;}
.item-center{align-items: center;}
.btn-primary{background-color: #21AFFF;}
.bold{ font-weight: 400;}
.mt-2{margin-top: 20px;}

@media(max-width: 750px){
    body{font-size: 16px;}
    .container{width: 100%;}
    .box{ height: max-content;}

    /*landing*/
    .logo{
        display:flex;
        justify-content: center;
        align-items: center;
        padding-top: 15%;
    }
    .logo img{
        width: 150px;
    }
    .landing{
        background-image: unset;
    }
    .pos-bottom{
        width: 90%;
        margin:0 auto;
        font-size: 18px;
        position: unset;
        margin-bottom: 50px;
    }
    /*présentation*/
    
    .text-present{
        width: 100%;
        margin: 0;
        text-align: left;
    }
    .small{
        width: 100%;
        height:max-content;
    }
    .btn-join{margin: 10px 0 30px 0;}
    /*Probleme*/
    .prob{
        background-image: unset;

    }
    .text-left{
        width: 100%;
    }
    /*offer*/
}

@media(max-width: 1150px){
    .box{
        height: 100vh;
        width: 100%;
    }
    .content{ width: 90%;}
    .pos-bottom{ width: 650px}

    /*Presente*/
    .splite img, .splite .graphe, .splite .connexion{
        width: 300px;
        margin: 0 auto;
    }
    .present{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    /*Offer*/
    .offer .graphe{
        width: 305px;
        height: 164px;
    }
    .offer .connexion{
        width: 435px;
        height: 176px;
    }
    .splite{
        flex-direction: column;
        justify-content: center;
    }
    .last{
        flex-direction: column-reverse;
    }
     /*contact*/
     form{ margin-bottom: 100px}
     .sp-text, form, form input {width: 100%;}
    
}